<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/themes/base/all.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    </head>
    <body class="principal">
        <div class="container body-content">
            <div class="estilo_exibicao">
                <p><span class="glyphicon glyphicon-th-list"></span> <span class="glyphicon glyphicon-th-large"></span></p>
            </div>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul class="nav navbar-brand">
                            <li class="add_game">Games</li>
                        </ul>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("Coleção", "Index/colecao", "Home")</li>
                            <li>@Html.ActionLink("Wishlist", "Index/wishlist", "Home")</li>
                            <li>@Html.ActionLink("Watchlist", "Index/watchlist", "Home")</li>
                            <li>@Html.ActionLink("Plus", "Index/plus", "Home")</li>
                        </ul>
                        <span id="MenuPlataforma">
                            @{Html.RenderAction("MenuPlataformas", "Jquery");}
                        </span>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </body>
</html>