@model Games.Models.ViewModel.LayoutView
<script>
    /*========== menu de plataformas ================*/
    //atualizar menu de plataformas e lista de jogos
    $("#MenuPlataforma").off().on("click",".li_plataforma",function () {
        var element = $(this);
        $(".li_plataforma").each(function () {
            $(this).removeClass("ativo");
        });
        element.addClass("ativo");
        $.post('@Url.Action("MenuPlataformas", "Jquery")', { plataforma: element.attr("id") },
        function (resposta) {
            $("#MenuPlataforma").html(resposta);
            $.post('@Url.Action("ListaJogosIndex", "Jquery")', { status: status },
            function (resposta) {
                $("#GameListView").html(resposta);
            });
        });
    });
</script>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">Plataformas</li>
        @foreach (var platform in Model.listaPlatform) {
            string classe = "li_plataforma";
            if (Model.ativos.IndexOf(platform.id) != -1) {
                classe = "li_plataforma ativo";
            }
            <li class="@classe" id="@platform.id">
                @platform.name
                <span class="fa-stack circulo-sidebar">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <span class="fa-stack-1x icon-text">
                        @Model.totais.Where(t => t.plataforma == platform.sigla).Where(t => t.status == ViewContext.RouteData.Values["status"].ToString()).FirstOrDefault().total
                    </span>
                </span>
            </li>
        }
    </ul>
</div>
