@model Games.Models.ViewModel.DashboardView
<div class="container dashboard">
    <div class="row dashboard_row">
        <div class="summary">
            @Html.Partial("DashboardSummaryView", Model.GetDashboardSummaryView(@Model.TotalJogosUnicos.ToString(), "Jogos", "jogos"))
            @Html.Partial("DashboardSummaryView", Model.GetDashboardSummaryView(@Model.TotalJogosCompletos.ToString(), "Completos", "completos"))
            @Html.Partial("DashboardSummaryView", Model.GetDashboardSummaryView(@Model.TotalPreco.ToString(), "Preço", "preco"))
            @Html.Partial("DashboardSummaryView", Model.GetDashboardSummaryView(@Model.TotalJogosFisicos.ToString(), "Físicos", "fisicos"))
            @Html.Partial("DashboardSummaryView", Model.GetDashboardSummaryView(@Model.TotalJogosDigitais.ToString(), "Digitais", "digitais"))
        </div>
    </div>
    <div class="row dashboard_row">
        @Html.Partial("DashboardPieChartReport", Model.GetDashboardReportView("Plataformas", Model.TotalJogosPlataforma, Model.TotalJogosStatus["Coleção"]))
        @Html.Partial("DashboardPieChartReport", Model.GetDashboardReportView("Preços", Model.TotalJogosFaixaPreco, Model.TotalJogosStatus["Coleção"]))
        @Html.Partial("DashboardPieChartReport", Model.GetDashboardReportView("Status", Model.TotalJogosStatus, Model.TotalJogos))
        @Html.Partial("DashboardPieChartReport", Model.GetDashboardReportView("Metacritic", Model.TotalJogosFaixaMetacritic, Model.TotalJogosStatus["Coleção"]))
    </div>
    <div class="row dashboard_row">
        @Html.Partial("DashboardBarChartReport", Model.GetDashboardReportView("Anos", Model.TotalJogosAno, Model.TotalJogosStatus["Coleção"]))
        @Html.Partial("DashboardBarChartReport", Model.GetDashboardReportView("Developers", Model.TotalJogosDeveloper, Model.TotalJogos))
        @Html.Partial("DashboardBarChartReport", Model.GetDashboardReportView("Publishers", Model.TotalJogosPublisher, Model.TotalJogos))
        @Html.Partial("DashboardBarChartReport", Model.GetDashboardReportView("Lojas", Model.TotalJogosLoja, Model.TotalJogosStatus["Coleção"]))
    </div>
    <div class="row dashboard_row">
        @Html.Partial("DashboardBarChartReport", Model.GetDashboardReportView("Gêneros", Model.TotalJogosGenero, Model.TotalJogos))
    </div>
</div>