@model Games.Models.ViewModel.DashboardView
<div class="container dashboard">
    <div class="row dashboard_row">
        <div class="col-md-3">
            <div class="border row dashboard_box">
                <div class="titulo">Totais da coleção</div>
                <div class="conteudo">
                    <span class="descricao">Jogos</span>
                    <span class="valor">@Model.TotalJogosStatus["Coleção"]</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Preço</span>
                    <span class="valor">@Model.TotalPreco</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Completos</span>
                    <span class="valor">@Model.TotalJogosCompletos</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Físicos</span>
                    <span class="valor">@Model.TotalJogosFisicos</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Digitais</span>
                    <span class="valor">@Model.TotalJogosDigitais</span>
                </div>
            </div>
        </div>
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Plataformas", Model.TotalJogosPlataforma, Model.TotalJogosStatus["Coleção"]))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Preços", Model.TotalJogosFaixaPreco, Model.TotalJogosStatus["Coleção"]))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Status", Model.TotalJogosStatus, Model.TotalJogos))
    </div>
    <div class="row dashboard_row">
            @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Anos", Model.TotalJogosAno, Model.TotalJogosStatus["Coleção"]))
            @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Metacritic", Model.TotalJogosFaixaMetacritic, Model.TotalJogosStatus["Coleção"]))
            @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Developers", Model.TotalJogosDeveloper, Model.TotalJogos))
            @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Publishers", Model.TotalJogosPublisher, Model.TotalJogos))
    </div>
    <div class="row dashboard_row">
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Lojas", Model.TotalJogosLoja, Model.TotalJogosStatus["Coleção"]))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Gêneros", Model.TotalJogosGenero, Model.TotalJogos))
    </div>
</div>