@model Games.Models.ViewModel.DashboardView
<div class="container dashboard">
    <div class="row">
        <div class="col-md-2">
            <div class="border row">
                <div class="titulo">Totais</div>
                <div class="conteudo">
                    <span class="descricao">Jogos</span>
                    <span class="valor">@Model.TotalJogos</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Preço</span>
                    <span class="valor">@Model.TotalPreco</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Completos</span>
                    <span class="valor">@Model.TotalJogosCompletos</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Físicos</span>
                    <span class="valor">@Model.TotalJogosFisicos</span>
                </div>
                <div class="conteudo">
                    <span class="descricao">Digitais</span>
                    <span class="valor">@Model.TotalJogosDigitais</span>
                </div>
            </div>
        </div>
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Plataformas", Model.TotalJogosPlataforma))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Preços", Model.TotalJogosFaixaPreco))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Status", Model.TotalJogosStatus))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Anos", Model.TotalJogosAno))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Metacritic", Model.TotalJogosFaixaMetacritic))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Developers", Model.TotalJogosDeveloper))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Publishers", Model.TotalJogosPublisher))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Lojas", Model.TotalJogosLoja))
        @Html.Partial("DashboardTableReport", Model.GetDashboardTableReportView("Gêneros", Model.TotalJogosGenero))
    </div>
</div>