@model Games.Models.ViewModel.GameDataView
<script type="text/javascript">
    $(function() {
        $("#btn_add").click(function() {
            $.post("/Jquery/AdicionarPlataformaJquery",
            function (resposta) {
                $(".span_plataformas").append(resposta);
            });
        });

        $(".fieldset_plataformas").on("click", ".remover_plataforma", function() {
            $(this).closest(".plataforma_status").fadeOut('normal', function() {
                $(this).remove();
            });
        });

        $(".btn_buscar_igdb").click(function () {
            $.post("/Jquery/BuscarJogoJquery", { search: $("#Titulo").val() },
            function (resposta) {
                $("#lista_resultados").html(resposta);
                $("#lista_resultados").slideDown();
            });
        });

        $("#lista_resultados").on("click", ".div_resultados .row", function () {
            $.post("/Jquery/PreencherDadosGameIgdbJquery", { id_igdb: $(this).find(".id_igdb").val() },
            function (resposta) {
                $("#DadosGameView").html(resposta);
                $("#modal_game").modal('show');
                $("#lista_resultados").fadeOut();
            });
        });
    });
</script>
<div class="modal fade" role="dialog" id="modal_resultados">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="id_game" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Resultados</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_game" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="id_game" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Game</h4>
            </div>
            <form>
                <div class="modal-body row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Titulo, new { @style = "display:block" })
                            @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @placeholder = "Título", @Value = Model.Titulo })
                            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                            <button type="button" class="btn btn-primary btn_buscar_igdb"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            <span id="lista_resultados" style="display:none"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Descricao)
                            <br />
                            @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @html = Model.Descricao, @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ListaDeveloper)
                            <p>
                                @string.Join(", ", Model.ListaDeveloper.Select(d=>d.name).ToList())
                            </p>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ListaPublisher)
                            <p>
                                @string.Join(", ", Model.ListaPublisher.Select(d => d.name).ToList())
                            </p>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Metacritic)
                            @Html.EditorFor(model => model.Metacritic, new { htmlAttributes = new { @class = "form-control", @placeholder = "Metacritic" } })
                            @Html.ValidationMessageFor(model => model.Metacritic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nota)
                            @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nota" } })
                            @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Preco)
                            @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control", @placeholder = "Preço" } })
                            @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tamanho)
                            @Html.EditorFor(model => model.Tamanho, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tamanho" } })
                            @Html.ValidationMessageFor(model => model.Tamanho, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Formato)
                            @Html.EnumDropDownListFor(model => model.Formato, "Formato", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Formato, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Loja)
                            <input type="text" name="loja" list="lista_loja" class="form-control">
                            <datalist id="lista_loja">
                                @foreach (var loja in Model.ListaLoja) {
                                    <option value="@loja.name">@loja.name</option>
                                }
                            </datalist>
                            @Html.ValidationMessageFor(model => model.Loja, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.CheckBoxFor(model => model.Completo, new { @class = "form-check-input" })
                            @Html.LabelFor(model => model.Completo, new { @class = "form-check-inline" })
                            @Html.ValidationMessageFor(model => model.Completo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <legend><label>Capa</label></legend>
                            @if (!@Model.CloudnaryId.IsEmpty()) {
                                <img class="img-rounded img-responsive" style="position:absolute" src="@Model.BigCoverUrl/@Model.CloudnaryId">
                            }
                        </fieldset>
                    </div>
                </div>
                <div class="plataformas row">
                    <div class="col-md-12">
                        <fieldset class="form-group fieldset_plataformas">
                            <legend><label>Plataformas</label></legend>
                            <span class="span_plataformas">
                                @{Html.RenderPartial("~/Views/Jquery/PlatformStatusView.cshtml", Model);}
                            </span>
                            <input type="button" id="btn_add" value="+" class="btn btn-primary" />
                        </fieldset>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>