@model Games.Models.ViewModel.DadosGameView
<label class="dados_titulo">@Model.Titulo</label>
<br />
<div class="dados_capa">
    <img class="img-rounded img-responsive" src="~/images/@(Model.Id)_BigCover_@(Model.CloudnaryId).jpg" />
</div>
<div>
    <div class="form-group">
        <label>Developer(s)</label>
        <p>
            @string.Join(", ", Model.ListaDeveloper.Select(p => p.name).ToList())
        </p>
    </div>
    <div class="form-group">
        <label>Publisher(s)</label>
        <p>
            @string.Join(", ", Model.ListaPublisher.Select(p => p.name).ToList())
        </p>
    </div>
    <div class="form-group">
        <label>Gênero(s)</label>
        <p>
            @string.Join(", ", Model.ListaGenre.Select(p => p.name).ToList())
        </p>
    </div>
    <div class="form-group">
        <label>Nota</label>
        <p>
            @Model.Nota
        </p>
    </div>
    <div class="form-group">
        <label>Completo</label>
        <p>
            @Model.GetCompleto()
        </p>
    </div>
</div>
<br />
<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th><i class="fa fa-bookmark"></i></th>
            <th><i class="fa fa-calendar"></i></th>
            <th><i class="fa fa-globe"></i></th>
            <th><i class="fa fa-filter"></i></th>
            <th><i class="fa fa-star"></i></th>
            <th><i class="fa fa-money"></i></th>
            <th><i class="fa fa-hdd-o"></i></th>
            <th><i class="fa fa-cloud"></i></th>
            <th><i class="fa fa-shopping-cart"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>Wishlist</td>
            <td>02/06/2017</td>
            <td>Worldwide</td>
            <td>E10+</td>
            <td>80</td>
            <td>129,90</td>
            <td>25</td>
            <td>Digital</td>
            <td>Steam</td>
        </tr>
        <tr>
            <td>#</td>
            <td>Wishlist</td>
            <td>02/06/2017</td>
            <td>Worldwide</td>
            <td>E10+</td>
            <td>80</td>
            <td>129,90</td>
            <td>25</td>
            <td>Digital</td>
            <td>Steam</td>
        </tr>
    </tbody>
</table>
<div class="form-group">
    <label>Descrição</label>
    <p>
        @Model.Descricao
    </p>
</div>
