<script>
    $(function () {
        /*========== grid de jogos ================*/
        //exibir modal para alterar jogo
        $(".thumbnail").click(function () {
            //$("#modal_game_info_list").modal("show");
            $.post('@Url.Action("PreencherDadosGameEntityJquery", "Jquery")', { id: $(this).find(".id").val() },
            function (resposta) {
                $(".excluir").css('display', '');
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
        //exibir inclusao de jogo
        $(".navbar-brand").click(function () {
            $.post('@Url.Action("ExibirFormGame", "Jquery")',
            function (resposta) {
                $(".excluir").css('display', 'none');
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
        var elemento = $(".ativo");
        var plataforma_ativa = "";
        if (elemento.attr("id") != 0) {
            plataforma_ativa = " (" + $(".ativo").html().split("<")[0].trim() + ")";
        }
        $(".page-header h1").html(titulo + plataforma_ativa);
        $(".grid").sortable({
            revert: 'true',
            handle: ".order",
            /*placeholder: 'span4 well placeholder tile',*/
            stop: function (event, ui) {
                $(ui.item.parent().children()).each(function (i) {
                    var posicao = $(this).find(".posicao").val();
                    var game = $(this).find(".id").val();
                    i++;
                    if (posicao != i) {
                        $.post('@Url.Action("AtualizarOrdemWishlistJquery", "Jquery")', { game: game, posicao: i });
                    }
                    $(this).find(".posicao").val(i);
                });
            }
        });
    });
</script>
@model Games.Models.ViewModel.GameListView
@{ int i = 0; }
<div class="container left_container">
    <div class="row grid">
        @foreach (var game in Model.ListaJogos) {
            i++;
            <div class="row game_list">
                <div class="col-sm-1 order text-center">
                    <div class="order_left">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-option-vertical bottom_sort" aria-hidden="true"></span>
                    </div>
                    <div class="order_right">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-option-vertical bottom_sort" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-sm-1 thumbnail text-center">
                    <input type="hidden" class="posicao" value="@i" />
                    <input type="hidden" class="id" value="@game.Id" />
                    @if (File.Exists(Model.Imagesfolder + game.Id + "_MicroCover2x_" + game.CloudnaryId + ".jpg")) {
                        <img class="img-rounded img-responsive capa" src="~/images/@(game.Id+"_MicroCover2x_"+@game.CloudnaryId+".jpg")" />
                    }
                    else {
                        <img class="img-rounded img-responsive capa" src="~/Content/ps.png" />
                    }
                </div>
                <div class="col-sm-9">
                    <label>@game.Name</label>
                    <label>@String.Join(", ",game.Plataformas)</label>
                    @if (game.ReleaseDate != null) {
                        <label>@game.ReleaseDate.Value.ToShortDateString()</label>
                    }
                </div>
            </div>
        }
    </div>
</div>