<script>
    $(function () {
        /*========== grid de jogos ================*/
        //exibir modal para alterar jogo
        $(".thumbnail").click(function () {
            //$("#modal_game_info_list").modal("show");
            $.post('@Url.Action("PreencherDadosGameEntityJquery", "Jquery")', { id: $(this).find(".id").val() },
            function (resposta) {
                $(".excluir").css('display', '');
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
        //exibir inclusao de jogo
        $(".navbar-brand").click(function () {
            $.post('@Url.Action("ExibirFormGame", "Jquery")',
            function (resposta) {
                $(".excluir").css('display', 'none');
                $("#form_game").html(resposta);
                $("#modal_game").modal('show');
            });
        });
    });
</script>
@model Games.Models.ViewModel.GameListView
@foreach (var game in Model.ListaJogos) {
    <div class="row game_list">
        <div class="col-sm-2 thumbnail text-center">
            <input type="hidden" class="id" value="@game.id" />
            @if (File.Exists(Model.Imagesfolder+game.id+"_MicroCover2x_"+game.cloudnary_id+".jpg")) {
                <img class="img-rounded img-responsive capa" src="~/images/@(game.id+"_MicroCover2x_"+@game.cloudnary_id+".jpg")" />
            }
            else {
                <img class="img-rounded img-responsive capa" src="~/Content/ps.png" />
            }
        </div>
        <div class="col-sm-10">
            <label>@game.name</label>
            @if (game.game_platform.ElementAt(0).release_date != null) {
                <label>@game.game_platform.ElementAt(0).release_date.Value.ToShortDateString()</label>
            }
        </div>
    </div>
}