@model Games.Models.ViewModel.GameDataView
@if (Model.Platforms.Count == 0) {
    Model.Platforms.Add(new Games.Models.Entity.game_platform());
}
@foreach (var plataforma in Model.Platforms) {
    <div class="form-group plataforma_status">
        @Html.DropDownList("plataforma[]", new SelectList(Model.ListaPlatform, "id", "name", plataforma.id_platform), "Plataforma", new { @class = "form-control select_plataforma" })
        @Html.DropDownList("status[]", new SelectList(Model.ListaStatus, "id", "name"), "Status", new { @class = "form-control select_plataforma" })
        @Html.EditorFor(model => plataforma.release_date, new { htmlAttributes = new { @class = "form-control select_plataforma", @placeholder = "Lançamento", @Value = string.Format("{0:d}", plataforma.release_date) } })
        @Html.DropDownList("region[]", new SelectList(Model.ListaRegion, "id", "name", plataforma.id_region), "Região", new { @class = "form-control select_plataforma" })
        @Html.DropDownList("rating[]", new SelectList(Model.ListaRating, "id", "name"), "Classificação", new { @class = "form-control select_plataforma" })
        <input type="button" value="-" class="btn btn-danger remover_plataforma" />
    </div>
}